.info {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    &__img {
        img {
            max-width: 577px;
        }
    }
    &__text {
        margin-left: 30px;
        .info__subtitle {
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 48px;
            text-transform: capitalize;
            color: #1f3347;
        }
        .info__descr {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #9da1b4;
        }
        .info__priority {
            max-width: 525px;
            list-style-image: url("../img/icons/marker.svg");
            font-weight: 400;
            font-size: 16px;
            line-height: 36px;
            color: #9da1b4;
            padding-left: 20px;
        }
    }
    &__advantages {
        display: flex;
        flex-direction: row;
        &_list {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            .num {
                margin-top: 32px;
                font-weight: 700;
                font-size: 36px;
                line-height: 28px;
                color: #ffc814;
            }
            .about {
                margin-top: 7px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #9da1b4;
            }
        }
    }
}
