@media (max-width: 1200px) {
    .container {
        max-width: 992px;
        padding: 10px;
    }
    .header {
        flex-wrap: nowrap;
        .menu {
            &__list {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            }
        }
    }
    .wrapper-header {
        margin: 10px;
        padding-bottom: 90px;
    }
    .wrapper-search {
        margin: 10px;
        margin-top: 0px;
    }
    .search {
        justify-content: space-evenly;
        &__form {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            background-color: #fff;
        }
        .box {
            input,
            select {
                max-width: 100px;
                max-height: 50px;
            }
        }
        &__btn {
            .btn-flight {
                left: 180px;
            }
            .btn-car {
                left: 350px;
            }
            .btn-ship {
                left: 520px;
            }
        }
    }
}

@media (max-width: 992px) {
    button {
        max-width: 140px;
        max-height: 50px;
    }
    .container {
        max-width: 768px;
        padding: 10px;
    }
    .wrapper-search {
        
        margin-top: 50px;
    }
    .header {
        flex-direction: column;
        align-items:center;
        .menu {
            &__list {
                grid-column-gap: 10px;
            }
        }
        &__logo {
            margin-top: 0;
        }
        
    }
    .main {
            margin-top: 30px;
            &__title {
                font-size: 50px;
            }
        }
    
    .search {
        justify-content: space-evenly;
        .tabs__pane_show {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            background-color: #fff;
            
        }
        .box {
            justify-content: flex-end;
            padding: 10px;
            input,
            select {
                font-size: 14px;
                line-height: 20px;
                max-width: 80px;
                max-height: 50px;

            }
            label {
                line-height: 20px;
                font-size: 14px;
                text-align: center;
                
            }
        }
        &__btn {
            .btn-flight {
                left: 160px;
            }
            .btn-car {
                left: 310px;
            }
            .btn-ship {
                left: 460px;
            }
        }
    }
    .info {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        &__img {
            img {
                max-width: 400px;
            }
        }
    }
}

@media (max-width: 768px) {
     button {
        max-width: 100px;
        max-height: 40px;
        font-size: 14px;
    }
.container {
    width: fit-content;
}
.header {
        flex-direction: column;
        align-items:center;
        .menu {
            &__list {
                    .menu__item {
                        .menu__link {
                            font-size: 14px;
                        }
                        
                } 
            }
        }

        
    }
    .main {
        &__title {
            line-height: 50px;
            text-align: center;
            max-width: none;
        }
        &__subtitle {
            text-align: center;
        }
        &__btns {
            justify-items: center;
            max-width: none;
        }
    }
    .search {
        justify-content: space-evenly;
        .tabs__pane_show {
            grid-template-columns: 1fr 1fr 1fr;
            padding: 10px;
            
        }
        .box {
            flex-direction: row;
            justify-content: flex-end;
            padding: 10px;
            input,
            select {
                font-size: 14px;
                line-height: 20px;
                max-width: 80px;
                max-height: 50px;
                

            }
            label {
                line-height: 16px;
                font-size: 12px;
                text-align: center;
                margin-right: 5px;
            }
        }
        .tab-toggle {
            font-size: 12px;
            padding-bottom: 20px;
            img {
                max-width: 18px;
                max-height: 18px;
            }
        }
        &__btn {
            .btn-flight {
                left: 120px;
            }
            .btn-car {
                left: 230px;
            }
            .btn-ship {
                left: 340px;
            }
        }
    }
    .wrapper-info {
        padding-bottom: 0px;
        padding-top: 15px;
    }
    .wrapper-search {
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .info {
        &__img {
            img {
                max-width: 300px;
            }

        }
        &__text {
            margin-left: 10px;
            .info__subtitle {
                font-size: 24px;
            }
            .info__descr {
                font-size: 12px;
                line-height: 22px;
            }
            .info__priority {
                max-width: fit-content;
                font-size: 12px;
                line-height: 22px;
                list-style-position: outside;
            }
        }
        &__advantages {
            flex-direction: row-reverse;
            &_list {
                .num {
                    font-size: 24px;
                line-height: 24px;
                }
                .about {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            
        }
    }
}

@media (max-width: 575px) {
    .container {
        width: fit-content;
    }
    .wrapper-search {
        margin: 30px;
    }
}